.sprite {
  height: 2.5rem;
  width: 8.4375rem;
  background: url(../../../static/images/support/app-store-sprite.png) 0px 0px / cover no-repeat transparent;
  .googleStoreStyle {
    background-position: -8.4375rem 0px;
  }
}
